{%  extends 'base.html.twig' %}

{% block title %}Formation Inscrit{% endblock %}
{% block body %}
    </br>
    {% if (message) %}
        {{ message }}
    {% endif %}
<div class="container" align="center">
<div class="shadow-lg p-3 mb-5 bg-body rounded" align="left">
<table class="table">
    <thead>
    <tr>
        <th scope="col">Formation</th>
        <th scope="col">Employé</th>
        <th scope="col">Nombre d'heures</th>
        <th scope="col">Departement</th>
        <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
{% for formation in ensFormations %}
    <tr>
      <th scope="row">{{ formation.produit.id }}</th>
      <td>{{ formation.dateDebut|date("m/d/Y") }}</td>
      <td>{{ formation.nbreHeures }}</td>
      <td>{{ formation.departement }}</td>
      <td>{{ formation.Description }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
<h3>Ajouter une nouvelle formation :</h3>
<br/>
<a class="btn btn-primary" href="{{ path('app_formationAjout') }}">Ajouter</a>
</div>
</div>
{% endblock %}
