{%  extends 'base.html.twig' %}

{% block title %}Formation Inscrit{% endblock %}

{% block body %}
    {% if (message) %}
        {{ message }}
    {% endif %}
{% for formation in ensFormations %}
    <b>{{ formation.produit.libelle }} </b><br/>

    Date debut: {{ formation.dateDebut|date("m/d/Y") }} <br/>
    Nombres d'heures : {{ formation.nbreHeures }}<br/>
    Departement : {{ formation.departement }} <br/>
    <button><a href="{{ path('app_supp_formation', {'id' : formation.id }) }}">Supprimer</a></button><br/>
{% endfor %}
<button><a href="{{ path('app_formationAjout') }}">Ajouter</a></button><br/>
{% endblock %}