{% extends 'base.html.twig' %}

{% block title %}Formation Inscrit{% endblock %}

{% block body %}
    {% if (message) %}
        {{ message }}
    {% endif %}
<div class="container" align="center">
<div class="shadow-lg p-3 mb-5 bg-body rounded" align="left">
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Employé</th>
        <th scope="col">Nombre d'heures</th>
        <th scope="col">Departement</th>
        <th scope="col">Accepter</th>
        <th scope="col">Refuser</th>
    </tr>
  </thead>
  <tbody>
{% for inscription in ensInscriptions %}
    <tr>
      <th scope="row">{{ inscription.id }}</th>
      <td>{{ inscription.employe.nom }}  {{ inscription.employe.prenom }}</td>
      <td>{{ inscription.formation.nbreHeures }}h</td>
      <td>{{ inscription.formation.departement }}</td>
      <td><a class="btn btn-success" href="{{ path('app_accepte_Inscription', {'id' : inscription.id }) }}">Accepter</a></td>
      <td><a class="btn btn-danger" href="{{ path('app_refuse_Inscription', {'id' : inscription.id }) }}">Refuser</a></td>  
    </tr>
{% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}