{% extends 'base.html.twig' %}

{% block title %}Formation Inscrit{% endblock %}

{% block body %}
    {% if (message) %}
        {{ message }}
    {% endif %}
{% for inscription in ensInscriptions %}
    <b>{{ inscription.formation.produit.libelle }} </b><br/>
    Id : {{ inscription.id }}</br>
    Employé : {{ inscription.employe.nom }}  {{ inscription.employe.prenom }}<br/>
    Nombres d'heures : {{ inscription.formation.nbreHeures }}<br/>
    Departement : {{ inscription.formation.departement }} <br/>
    <button><a href="{{ path('app_accepte_Inscription', {'id' : inscription.id }) }}">Accepter</a></button><br/>
    <button><a href="{{ path('app_refuse_Inscription', {'id' : inscription.id }) }}">Refuser</a></button><br/>
{% endfor %}
{% endblock %}