{% extends 'base.html.twig' %}

{% block title %} Espace Employe {% endblock %}

{% block body %}
    <br>
    <div class="container" align="center">
        <div class="shadow-lg p-3 mb-5 bg-body rounded" align="left">
        <h1>Espace Employé :</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col">Service</th>
                    <th scope="col">Département</th>
                    <th scope="col">Heures</th>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Gérer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <br><h2>Liste des Formations Disponibles :</h2><br>
                    <h4>
                        {# parcours tous les services auxquelles l'employé est adhérent #}
                        {% for service in ensServices %}
                            {# parcours l'ensemble des formations disponibles #}
                            {% for formation in ensFormations %}
                                {% set nonInscrit = true %}
                                {# SI l'id du produit associé au service en cours est égal à l'id du produit de la formation en cours #}
                                {% if (service.Produit.id == formation.Produit.id) %}
                                    <tr>
                                        <td> {{ formation.Produit.libelle }}
                                        <td> {{ service.nom }}
                                        <td> {{ formation.departement }}
                                        <td> {{ formation.nbreHeures }} </td>
                                        <td> {{ formation.dateDebut|date("m/d/Y") }} </td>
                                        <td> {{ formation.Description }}</td>
                                        {# parcours les formations aux quelles l'employés est déjà inscrit #}
                                        {% for formationInscrit in ensInscriptions %}
                                            {# SI il est déjà inscrit à cette formation affiche l'état de l'inscription #}
                                            {% if (formation.id == formationInscrit.formation.id) %}
                                                <td>{% if formationInscrit.statut == 'A'%}
                                                        Accepté
                                                    {% elseif formationInscrit.statut == 'R'%}
                                                        Refusé
                                                    {% elseif formationInscrit.statut == 'E'%}
                                                        En cours
                                                    {% endif %}</td>
                                                {% set nonInscrit = false %}
                                                <td><a class="btn btn-danger" href="{{path('app_desinscriptionEmployeFormation', { 'id': formationInscrit.id })}}">se désinscrire</a></td>
                                            {% endif %}
                                        {% endfor %}
                                        {# SI il n'est pas inscrit #}
                                        {% if (nonInscrit == true) %}
                                            <td> Non inscrit </td>
                                            <td><a class="btn btn-success" href="{{path('app_inscriptionEmployeFormation', { 'id': formation.id })}}">s'inscrire</a></td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            
                        {% endfor %}
                    <h4>
                </tr>
            </tbody>
        
    </div>
    {# <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Heures</th>
                    <th scope="col">Département</th>
                    <th scope="col">Service</th>
                    <th scope="col">Etat</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <br><h2>Liste des formations déjà inscrites</h2>
                    <h4>
                        {% for inscription in ensInscription %}
                            <td> {{ inscription.formation.dateDebut|date("m/d/Y") }} </td>
                            <td> {{ inscription.formation.nbreHeures }}  </td>
                            <td> {{ inscription.formation.departement }} </td>
                            <td>Etat :  {% if inscription.statut == 'A'%}
                                Accepté
                                    {% elseif inscription.statut == 'R'%}
                                Refusé
                                    {% elseif inscription.statut == 'E'%}
                                En cours
                                {% endif %}</td>
                    <h4>
                </tr>
            </tbody>
        {% endfor %}
        </div> #}
        </div>
    </div>
{% endblock %}