{% extends 'base.html.twig' %}

{% block title %} Espace Employe {% endblock %}

{% block body %}
    <br>
    <div class="container" align="center">
        <div class="shadow-lg p-3 mb-5 bg-body rounded" align="left">
        <h1>Espace Employe</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Heures</th>
                    <th scope="col">Département</th>
                    <th scope="col">S'inscrire</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <br><h2>Liste des formations disponibles</h2><br>
                    <h4>
                        {% for formation in ensFormations %}
                            <td> {{ formation.dateDebut|date("m/d/Y") }} </td>
                            <td> {{ formation.nbreHeures }} </td>
                            <td> {{ formation.departement }} </td>
                            <td><a class="btn btn-primary" href="{{path('app_inscriptionEmployeFormation', { 'id': formation.id })}}">s'inscrire</a></td>
                    <h4>
                </tr>
            </tbody>
        {% endfor %}
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Heures</th>
                    <th scope="col">Département</th>
                    <th scope="col">Etat</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <br><h2>Liste des formations déjà inscrites</h2>
                    <h4>
                        {% for inscription in ensInscription %}
                            <td> {{ inscription.formation.dateDebut|date("m/d/Y") }} </td>
                            <td> {{ inscription.formation.nbreHeures }}  </td>
                            <td> {{ inscription.formation.departement }} </td>
                            <td>Etat :  {% if inscription.statut == 'A'%}
                                Accepté
                                    {% elseif inscription.statut == 'R'%}
                                Refusé
                                    {% elseif inscription.statut == 'E'%}
                                En cours
                                {% endif %}</td>
                    <h4>
                </tr>
            </tbody>
        {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}